@mixin button-size($padding-y, $padding-x, $font-size, $boder-raduis) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $boder-raduis;
}

@mixin button-style(
  $background,
  $boder-color,
  $color,
  $hover-background: lighten($background, 7.5%),
  $hover-border: lighten($color, 10%),
  $hover-color: $color,
) {
  background: $background;
  color: $color;
  border-color: $border-color;
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
  &:focus,
  &.focus {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
    outline: 5px auto lighten($hover-background, 7.5%);
  }
  &:disabled,
  &.disabled {
    color: $color;
    background: $background;
    border-color: $border-color;
  }
}

@mixin alert-style($alert-color, $background) {
  color: $alert-color;
  background: $background;
}